## Visual Studio 一般
.vs/
*.user
*.suo
*.rsuser

## ビルド成果物は全部ここにまとまる
/generated/

## その他キャッシュや中間ファイル
*.pdb
*.ipdb
*.ilk
*.iobj
*.log
*.tmp

## NuGet / 外部ライブラリ
packages/
*.nupkg

## DirectX Shader Compiler 中間ファイル
*.cso
*.hlsl.temp
*.hlsl.d

## PIX キャプチャ
*.wpix
*.pix2

## バックアップ・一時ファイル
*.bak
*.tmp_proj
~$*
